@import "variables";

@mixin mobile {
	@media (min-width: $mobile-width) {
		@content
	}
}

@mixin tablet {
	@media (min-width: $tablet-width) {
		@content
	}
}

@mixin desktop {
	@media (min-width: $desktop-width) {
		@content
	}
}

@mixin on-center() {
	@media (min-width: $mobile-width) {
		width: 260px;
		margin: 0 auto;
	}
	@media (min-width: $tablet-width) {
		width: 668px;
		margin: 0 auto;
	}
	@media (min-width: $desktop-width) {
		width: 1050px;
		margin: 0 auto;
	}
}