@import "../../static/styles/mixins";

.app__title {
	text-align: center;
	color: #282d30;
	font-size: 2.6rem;
	line-height: 1;
	padding-top: 28px;
	margin-bottom: 25px;
	@include tablet {
		padding-top: 55px;
	}
	@include desktop {

	}
}

.app__form {
	padding: 30px 10px;
	@include tablet {
		margin-bottom: 10px;
	}
	@include desktop {
		margin-bottom: 128px;
	}
}

.stat {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 85px 85px;
	grid-gap: 5px;
}

.stat__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 15px;
	border-radius: 4px;
	color: #fff;
	background-color: #4A0594;
}

.stat__number {
	font-size: 1.9rem;
	line-height: 1.4;
	font-weight: 600;
	//margin-bottom: 8px;
}