@import "../../static/styles/mixins";

.main {
	display: flex;
	flex-direction: column;
}

.main__inner {
	display: flex;
	flex-direction: column;
	@include tablet {
		margin-bottom: 420px;
	}
	@include desktop {
		margin-bottom: 330px;
	}
}