@import "../../static/styles/mixins";

.main {
	display: flex;
	flex-direction: column;
	@include tablet {
		padding: 15px;
		box-sizing: border-box;
		background: #f2f2f2;
		height: 100vh;
	}
}

.main__inner {
	display: flex;
	flex-direction: column;
	background: #fff;
	height: 100vh;
	@include tablet {
		border-radius: 4px;
		overflow: hidden;
	}
	//@include desktop {
	//	margin-bottom: 330px;
	//}
}